@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Art.</h1>
    <p>This app was build with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
    
</div>
