@{
    ViewData["Title"] = "Artigos";
}

<div>
    <h1>Artigos</h1>

    <p>
        @foreach (var item in (List<ArtigosModel>)ViewData["data"])
        {
            @item.Id @item.Descricao @item.Quantidade
        }
    </p>

</div>
